.fenext-slider {
    --items: var(--nItems, 1);
    --nItemsShowMedia: var(--nItemsDesktop, 1);
    --nItemsShow: min(var(--nItemsShowMedia), var(--items));
    @media (max-width: 991px) {
        --nItemsShowMedia: var(--nItemsTable, 1);
    }
    @media (max-width: 575px) {
        --nItemsShowMedia: var(--nItemsPhone, 1);
    }
    display: grid;
    gap: 1rem;
    overflow: hidden;
    position: relative;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: 1fr auto;

    font-family: var(--fenext-font-montserrat);

    &-loop {
    }

    &-content {
        grid-area: 1 / 2 / 2 / 3;
        display: grid;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        position: relative;
        --scaleItems: calc(var(--nItemsShow) - 1) / calc(var(--nItemsShow));
        --gapByItems: calc(var(--separationItems, 1rem) * var(--scaleItems));
        gap: var(--separationItems, 1rem);
        grid-template-columns: repeat(
            var(--items),
            calc(100% / var(--nItemsShow) - var(--gapByItems, 0))
        );
        grid-template-rows: 1fr;
        // cursor: grab;
        // &.mouseDownActive {
        //     cursor: grabbing;
        //     scroll-snap-type: inherit;
        //     transition: 0;
        //     .fenext-slider-item {
        //         scroll-snap-align: inherit;
        //     }
        // }
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
    &-item {
        transition: var(--timeAnimation, 0.5s);
        transition-delay: var(--timeDelay, 4s);
        width: 100%;
        scroll-snap-align: start;
    }
    &-dogs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        grid-area: 2 / 1 / 3 / 4;
    }
    &-dog {
        width: 1rem;
        aspect-ratio: 1/1;
        border-radius: 100%;
        background-color: var(--fenext-color-dark);
        cursor: pointer;
        &:hover {
            background-color: var(--fenext-color-dark-light);
        }
        &.active {
            background-color: var(--fenext-color-teal);
        }
    }
    &-arrows {
    }
    &-arrow {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        svg {
            width: 100%;
        }
        &-pre {
            grid-area: 1 / 1 / 2 / 2;
        }
        &-next {
            grid-area: 1 / 3 / 2 / 4;
        }
    }
}
