@at-root #fenext-print {
    display: block !important;
    border: 0 !important;
    position: fixed !important;
    transform: scale(0) !important;
    width: 0 !important;
    height: 0 !important;
}
