.fenext-modal-base {
    position: fixed;
    inset: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: var(--fenext-z-index-modal);
    overflow: auto;
    display: grid;
    align-items: flex-start;
    justify-items: center;
    transition: 0.5s;
    --content-width: var(--fenext-modal-width);
    --content-height: var(--fenext-modal-height);
    --transform-active: none;
    --transform-inactive: none;
    &-dialog {
        display: block;
        width: 100%;
        height: 100%;
        transition: 0s;
        border: 0;
        overflow: hidden;
        position: fixed;
        inset: 0;
        background: transparent;
        z-index: var(--fenext-z-index-modal);
        &-active {
        }
        &-inactive {
            transform: scale(0);
            transition-delay: 0.5s;
        }
        &:has(.fenext-modal-base-content .fenext-modal-base-active) {
            > .fenext-modal-base-close {
                display: none;
            }
            > .fenext-modal-base-bg {
                display: none;
            }
        }
    }
    &-bg {
        z-index: var(--fenext-z-index-modal);
        &,
        &::before {
            position: fixed;
            inset: 0;
            width: 100dvw;
            height: 100dvh;
        }
        &::before {
            content: "";
            background-color: var(--fenext-color-dark);
            opacity: 0.5;
        }
        &-inactive {
            display: none;
        }
    }
    &-close {
        position: fixed;
        width: 1.5rem;
        color: var(--fenext-color-white);
        cursor: pointer;
        z-index: var(--fenext-z-index-modal);
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--fenext-color-dark);
        border-radius: 100%;
        svg {
            width: 75%;
            height: 75%;
        }

        &-top {
            top: 1rem;
            right: 1rem;
        }
        &-left {
            top: 1rem;
            right: 1rem;
        }
        &-right {
            top: 1rem;
            left: 1rem;
        }
        &-bottom {
            top: 1rem;
            right: 1rem;
        }
        &-center {
            top: 1rem;
            right: 1rem;
        }
        &-inactive {
            display: none;
        }
        &-full {
            top: 1rem;
            right: 1rem;
        }
        &-layout-grid {
            left: 1rem;

            top: calc(var(--fenext-size-menu-top) * 0.2);
            width: calc(var(--fenext-size-menu-top) * 0.6);
            height: calc(var(--fenext-size-menu-top) * 0.6);
        }
        &:hover {
            color: var(--fenext-color-red);
        }
    }
    &-content {
        width: var(--content-width);
        max-width: 100vw;
        background-color: var(--fenext-color-white);
        font-family: var(--fenext-font-global);
        z-index: var(--fenext-z-index-modal);
        padding: 1rem;
        border: 0;
    }

    &-top {
        align-items: flex-start;
        --content-width: 100dvw;
        --transform-inactive: translateY(-200%);
    }
    &-left {
        justify-items: flex-start;
        --content-height: 100dvh;
        --transform-inactive: translateX(-200%);
        > .fenext-modal-base-content {
            min-height: 100dvh;
        }
    }
    &-right {
        justify-items: flex-end;
        --content-height: 100dvh;
        --transform-inactive: translateX(200%);
        > .fenext-modal-base-content {
            min-height: 100dvh;
        }
    }
    &-bottom {
        align-items: flex-end;
        --content-width: 100dvw;
        --transform-inactive: translateY(200%);
    }
    &-center {
        --transform-inactive: translateY(200%);
        padding: 1rem;
        > .fenext-modal-base-content {
            border-radius: 1rem;
            margin: auto;
        }
    }

    &-full {
        --transform-inactive: translateY(200%);
        --content-width: 100dvw;
        > .fenext-modal-base-content {
            min-height: 100dvh;
        }
    }
    &-layout-grid {
        --transform-inactive: translateX(200%);
        --content-width: calc(100dvw - var(--fenext-size-menu-left-max));
        --content-height: calc(100dvh - var(--fenext-size-menu-top));
        place-items: flex-end;
        @media (max-width: 575px) {
            --content-width: 100dvw;
        }
        > .fenext-modal-base-content {
            height: calc(100dvh - var(--fenext-size-menu-top));
            overflow: auto;
            border-top-left-radius: 1rem;
            @media (max-width: 575px) {
                border-radius: 0;
            }
        }
    }

    &-active {
        transform: var(--transform-active);
    }
    &-inactive {
        transform: var(--transform-inactive);
    }
}

*:has(.fenext-modal-base-active) {
    z-index: var(--fenext-z-index-modal) !important;
    position: relative !important;
    overflow: visible !important;
    transform: none !important;
    transition: 0s !important;
    inset: 0 !important;
    container-type: initial !important;
    .fenext-modal-base-content:has(.fenext-modal-base-active) {
        position: fixed !important;
        inset: 0 !important;
        width: 100% !important;
        height: 100% !important;
        *:has(.fenext-modal-base-active) {
            position: absolute !important;
        }
    }
}
*:has(.fenext-modal-base-active) {
    .fenext-layout-grid-ml-menu-left,
    .fenext-layout-grid-mt-menu-top {
        z-index: -1 !important;
    }
}
html:has(.fenext-modal-base-active),
body:has(.fenext-modal-base-active) {
    overflow: hidden !important;
}
