.fenext-content-radio {
    display: grid;
    gap: 0.5rem;
}
.fenext-input-radio {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
    &.left {
        grid-template-columns: 1fr auto;
        .fenext-input-radio-box {
            order: 2;
        }
        .fenext-input-radio-text {
            order: 1;
            text-align: right;
        }
    }
    &-input {
        position: fixed;
        scale: 0;
    }
    &-box {
        width: 1.25rem;
        aspect-ratio: 1/1;
        border-radius: 100%;
        border: 2px solid var(--fenext-color-gray-light);
        display: flex;
        align-items: center;
        justify-content: center;
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 0.8rem;
            }
        }
    }
    &-text {
        font-family: var(--fenext-font-global);
        font-size: 1rem;
        font-weight: 800;
        line-height: 1.36;
        text-align: left;
        color: var(--fenext-color-gray-dark);
    }
}
